
  <hr>
  <h3><%= link_to document.title, document_path(document) %> </h3>
  <h4><%= document.context %></h4>
  <h4>Currently Private? => <%= document.privacy %></h4>
  <p><%=h truncate(document.versions.last.content, :length => 80) %></p>

