$text-dark-grey: rgb(22,22,22);

$base-bg: #BECAB2;
$main-bg: white;

$text-lighter-grey: rgb(72, 71, 67) + 40;

$highlight: rgb(154, 141, 209);

$info-txt: rgb(120, 99, 202);
$info-bg: rgb(216, 247, 209);

$warning-txt: rgb(147, 43, 53);
$warning-bg: rgb(255, 249, 136) + 15;

