$base-font-size: 19px;

$small-font: $base-font-size * 0.75;

$medium-font: $base-font-size * 1.15;

$large-font: $base-font-size * 1.5;

$xlarge-font: $base-font-size * 1.75;

$base-letter-space: 0.035em;
$wide-letter-space: $base-letter-space *2;