

body {
  background-color: $base-bg;
  font-family: $primary-font;
  color: $text-dark-grey;
  font-family: $primary-font;
  color: $text-dark-grey;
  font-size: $base-font-size;
  letter-spacing: $base-letter-space;
  line-height: $base-line-height;

}

.main-content {
  background-color: $main-bg;
  margin-top: 2em;
  @include span-columns(8);
  @include shift(2);
  border: 1px solid #bbb;
  border-top: 30px solid #F5F5F5;
  color: #555;
  border-radius: 5px;
  padding: 5em;
  padding-top: 2em;
  line-height: 1.618em;

  // h1 {
  //  color: black;
  //  font-family: 'Montserrat', sans-serif;
  // }

  a {
   color: black;
   text-decoration: none;
   &:hover{
    background-color: $info-bg;
   }

  }

  // #send {
  //   // background: #EB3618;
  //   // color: white;
  //   background-color: $info-bg;
  //   color: $info-txt;

  //   border-radius: 5px;
  //   padding: .2em 1em;
  //   margin-right: .05em;
  //   float: right;
  //   font-size: 0.8em;

  //   &:hover {
  //     background-color: $info-bg - 50;
  //     color: $info-txt - 50;
  //   }
  // }
}
