<div class="subtitle">
  <h2>Find out if it's the right thing to do.<h2>
</div>

<div class="main-content">
  <!--
    <h1>Should I Send This</h1>
    <br>
  -->

  <%#= link_to "New Document", new_document_path(@document) %>

  <span id="send">Send</span>
  <br>
  <br>


  <hr>
  <p>From: David Thorne</p>
  <hr>
  <p>Date: Monday 16 November 2009 5.27pm</p>
  <hr>
  <p>To: Simon Edhouse</p>
  <hr>
  <p>Subject: Re: Re: Re: Logo Design</p>
  <hr>
  <br>

  <h1>Dear Simon,</h1>
  <br>

  <p>
    You are correct and I apologise. Your last project was actually both commercially viable and original. Unfortunately the part that was commercially viable was not original, and the part that was original was not commercially viable.
  </p>
  <br>

  <p>
    I would no doubt find your ideas more ‘cutting edge’ and original if I had traveled forward in time from the 1950′s but as it stands, your ideas for technology based projects, that have already been put into application by other people several years before you thought of them, fail to generate the enthusiasm they possibly deserve. Having said that though, if I had traveled forward in time, my time machine would probably put your peer to peer networking technology to shame as not only would it have commercial viability, but also an awesome logo and accompanying pie charts.
  </p>
  <br>

  <p>
    Regardless, I have, as requested, attached a logo that represents not only the peer to peer networking project you are currently working on, but working with you in general.
  </p>
  <br>

  <p>
    Regards, David.
  </p>
  <br>

</div>
