<% @documents.each do |document| %>
  <p><%= link_to document.title, document_path(document) %> - by <%= document.user.name %></p>
  <p><%= document.context %></p>
  <p><%=h truncate(document.versions.last.content, :length => 80) %></p>
  <br>
<% end %>
