header {
  height: 6em;
  line-height: 6em;
  font-size: 1.5em;
  background-color: #f9f8f6;
  border-bottom: 1px solid #e5e5e5;
  @include outer-container;

  h1 {
    @include span-columns(4);
    float: left;
    @include shift(1);
    a {
     color: black;
     text-decoration: none;
     // font-family: 'Montserrat', sans-serif;
    }
  }

  nav {
    @include shift(7.3);
    ul {
      li {
        display: inline-block;
        font-size: 20px;
          a {
           color: #9a9994;
           text-decoration: none;
           padding-left: 1em;
          }
      }
    }
  }
}