


  <!--
    <h1>Should I Send This</h1>
    <br>
  -->

  <%#= link_to "New Document", new_document_path(@document) %>

  <p>Dear Simon,</p>
  <br>

  <p>
    You are correct and I apologise. Your last project was actually both commercially viable and original. Unfortunately the part that was commercially viable was not original, and the part that was original was not commercially viable.
  </p>
  <br>

  <p>
    Regardless, I have, as requested, attached a logo that represents not only the peer to peer networking project you are currently working on, but working with you in general.
  </p>
  <br>

  <p>
    Regards, David.
  </p>
  <br>

  <button>Should I Send This?</button>

